@import "./../../HackerUIGlobal.scss";

.hacker-link {
  color: $secondaryColorDarkSolid;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $secondaryColorSolid;
  }

  &:active {
    color: $secondaryColorLightSolid;
  }
}
