$primaryColor: #ff000080;
$primaryColorDark: #9e000080;
$primaryColorLight: #ff0000;
$primaryColorSolid: #ff0000;
$primaryColorDarkSolid: #9e0000;
$primaryColorLightSolid: #ff0000;

$secondaryColor: #00ff00;
$secondaryColorSolid: #00ff00;
$secondaryColorDark: #00ff00;
$secondaryColorLight: #00ff00;
$secondaryColorDarkSolid: #00ff00;
$secondaryColorLightSolid: #00ff00;
