$primaryColor: #54242480;
$primaryColorDark: #1a1a1a80;
$primaryColorLight: #fd403e80;
$primaryColorSolid: #542424;
$primaryColorDarkSolid: #1a1a1a;
$primaryColorLightSolid: #fd403e;

$secondaryColor: rgba(255, 255, 255, 0.5);
$secondaryColorDark: rgba(255, 255, 255, 0.8);
$secondaryColorLight: rgba(255, 255, 255, 0.2);
$secondaryColorSolid: rgba(255, 255, 255, 1);
$secondaryColorDarkSolid: rgba(255, 255, 255, 0.8);
$secondaryColorLightSolid: rgba(255, 255, 255, 0.2);
