@import "./../../HackerUIGlobal.scss";

.hacker-style-container {
  padding: 1rem;
  background-color: $primaryColor;
  border: 2px solid $primaryColorLightSolid;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &.parent-size {
    width: 100%;
    height: 100%;
  }

  &.transparent {
    background-color: transparent;
  }

  &.half-transparent {
    background-color: $primaryColor;
  }

  &.solid {
    background-color: $primaryColorSolid;
  }
}
