.footer {
  .footer-content {
    .social-medias {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;

      .social-medias-icon {
        margin: 0 0.5rem;
        font-size: 1.5rem;
        transition: all 0.2s ease-in-out;
        width: 2rem;
        height: 2rem;
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
          saturate(2%) hue-rotate(222deg) brightness(108%) contrast(101%);

        &:hover {
          filter: brightness(0) saturate(100%) invert(84%) sepia(10%)
            saturate(646%) hue-rotate(314deg) brightness(76%) contrast(92%);
        }
      }
    }
  }
}
