#skill {
  position: relative;
  flex-grow: 1;
  width: 100%;

  .skill-container {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: 3rem 1fr;

    .skill-title {
      font-size: 2rem;
      line-height: 1rem;
    }

    .skill-content {
      width: 100%;
      position: relative;
      display: grid;
      grid-template-areas: "main";
      max-height: 100%;
      height: 100%;
      grid-template-rows: 3rem 1fr;

      .skill-group-title {
        text-align: left;
        font-size: 1.5rem;
        margin: 1rem;
      }

      .skill-group-container {
        position: relative;
        height: 100%;
        width: 100%;
        min-height: calc(75vh - 3rem);
        overflow-y: auto;

        .skill-group {
          display: grid;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));

          @media screen and (min-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
          }

          .skill-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              background-color: #e0e0e0;
            }

            .skill-icon {
            }

            .skill-name {
              font-size: 0.5rem;
            }
          }
        }
      }
    }
  }
}
