$messageBoarderRadius: 1rem;

.message-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .message {
    margin: 0.2rem;
    max-width: 80%;

    &.left {
      text-align: left;
      justify-self: start;
      align-self: flex-start;
      border-radius: $messageBoarderRadius $messageBoarderRadius
        $messageBoarderRadius 0;
      margin-right: 1rem;
    }

    &.right {
      border-color: white;
      text-align: left;
      justify-self: end;
      align-self: flex-end;
      border-radius: $messageBoarderRadius $messageBoarderRadius 0
        $messageBoarderRadius;
      margin-left: 1rem;
    }
  }
}
