.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;

  & > * {
    flex-grow: 1;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
