.home-page {
  .banner {
    position: relative;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;

    @media screen and (min-width: 769px) {
    }

    .text-section {
      text-align: center;
      position: absolute;
      z-index: 5;

      @media screen and (min-width: 769px) {
        left: 0;
        text-align: left;
        padding-left: 10%;
      }

      .title {
        font-size: 3rem;
        font-weight: bold;
      }

      .sub-title {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}
