#introduce-section {
  margin: 2rem 0;
  padding: 2rem;
  height: 100svh;
  max-height: 100svh;

  .section-inner-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .display-tabs-container {
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: 768px) {
        padding-left: 0.5rem;
        justify-content: start;
      }

      .display-tab-button {
        margin-bottom: 0;
      }
    }

    .introduce-content-container {
      margin: 0;
      margin-bottom: 1rem;
      flex-grow: 1;
      display: flex;
    }
  }
}
