@import "./../../HackerUIGlobal.scss";

$height: 3rem;
$width: 6rem;
$border-width: 0.2rem;
$padding: 0.5rem;

.hacker-style-button-container {
  user-select: none;
  position: relative;
  height: $height;
  width: $width;
  cursor: pointer;
  text-align: center;

  &.solid {
    .svg-bg {
      fill: $primaryColorSolid;
      stroke: $primaryColorLightSolid;
    }
  }

  &.transparent {
    .svg-bg {
      fill: transparent;
      stroke: $primaryColorLightSolid;
    }
  }

  &.half-transparent {
    .svg-bg {
      fill: $primaryColor;
      stroke: $primaryColorLightSolid;
      opacity: 0.5;
    }
  }

  .button-content {
    position: absolute;
    top: 0;
    left: 0;
    height: $height;
    width: $width;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding;
  }

  .svg-bg {
    position: absolute;
    top: 0;
    left: -$padding;
    height: $height;
    width: calc(#{$width} + #{$padding} * 2);
    object-fit: fill;
    stroke-width: 2;
    stroke: $primaryColorLightSolid;
    fill: $primaryColorLightSolid;
    z-index: -1;
    transition-duration: 0.2s;
  }

  &:hover .svg-bg {
    fill: $primaryColorLight;
    stroke: $primaryColor;
  }

  &:active .svg-bg,
  &.active .svg-bg {
    fill: $primaryColor;
    stroke: $primaryColor;
  }

  &.margin-none {
    margin: $padding 0;
  }

  &.margin-half {
    margin: $padding calc($padding / 2);
  }

  &.margin-full {
    margin: $padding $padding;
  }

  &.margin-extra {
    margin: $padding calc($padding * 2);
  }

  &.disabled {
    color: $primaryColorLight;
    cursor: not-allowed;
    .svg-bg {
      fill: $primaryColorDark;
      stroke: $primaryColor;
    }
  }
}
