@import "./../../HackerUIGlobal.scss";

.hacker-style-container {
  text-align: center;
  position: relative;
  margin: 0.5rem;
  background-color: $primaryColor;
  border: 2px solid $primaryColorLightSolid;
  padding: 0.5rem;
  flex: 1;

  &.parent-size {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  &.transparent {
    background-color: transparent;
  }

  &.half-transparent {
    background-color: $primaryColor;
  }

  &.solid {
    background-color: $primaryColorSolid;
  }
}
